
<!DOCTYPE html>
{# homepage #}

{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include "HoosExchangeSite/header.html" %}
<h1>HELLO SLAY MAMA</h1>


<nav class="navbar fixed-bottom navbar-light" style="background-color: #ececec;">

<h6 class="nav-item" style="color: grey"> &nbsp; &nbsp;Made by Jacob Hobbs and Sai Singamsetty for UVA's HooHacks '23 </h6>

</nav>
</body>
</html>